.logo img{
width: 350px;
height: 50px;
}
/*rgba(0,0,0,0.3)  opaciti*/
header{
	background: #f5f5f5;
}
.navegador   a {
	text-decoration: none;
	font-size: 11px;
	font-family: arial;
	position: absolute;
	top: 20px;
	color:#d0d1d1;
}
.search span {
	position: absolute;
	top: 7px;
}
input {
	width: 200px; 
	height: 40px;
	background:#f5f5f5;
	border:2px solid #a8a8a8;
	position: relative;
	padding-left: 10px;
	font-weight: bold;
	color: #d0d1d1;
	}
.lupa {
	width: 35px;
	height: 30px;
	background:#f5f5f5 url('../img/toolbar_find.png') no-repeat 9px center;
	background-size: 50% 60%;
	border: none;
	position: absolute;
	right: 2px;
	top:3px;
}
.hero {
	height: 440px;
 	background: #383838 url('../img/banner.jpg') no-repeat left top;
  	background-size: 70% 120%;
  	background-position: 0px -60px;
  	top:60%;
  	left: 60%;
}
.heroimage .col-8 {
	position: relative;
}
.heroimage .col-8 img {
	position: absolute;
	left: 225px;
	top: 180px;
	height: 73px;
	width: 73px; 
}
.texthero{
	margin-top: 20px;
	position: relative;
	color:#d3d3d3;
	font-family: sans-serif;
}
.texthero h1:first-child{
	font-size: 30px;
	margin-left: 5px;
}
.texthero hr {
	font-size: 20px;
	width: 300px;
	height: 1px;
	border:none;
	background: #676767;
	margin: 15px 5px;
}
.texthero  button:nth-child(3) {
	position: absolute;
	top: 70px;
	left: 0px;
	border-radius: 5px;
	width: 50px;
	height: 30px;
	background: none;
	border:2px solid #3bcf68;
	color: #3bcf68;
	font-size: 11px;
}
.texthero p:nth-child(4){
	position: relative;
	left: 60px;
	margin: 25px 0px 10px;
}
 .box {
 	margin: 5px 0px;
 	border-collapse: separate;
  	border-spacing:  0px 10px;
}
.box tr td {
	margin: 15px 0px; 
	font-size: 10px;
}
 .box tr td:first-child{
	width: 120px;
	font-weight: bold;
	font-size: 11px;
}

.texthero p:nth-child(6){
	font-size: 14px;
	font-family: sans-serif;
	margin-top: 0px;
}
.texthero button:nth-child(7){
	padding : 10px 10px;
	border-radius: 5px;
	display: block;
	margin: 15px 0px;
	background: #dfb636;
	border:#dfb636;
	color: white;
	font-size: 12px;
	font-weight: bold;
	width: 160px;
	height: 35px;
	position: relative;
}
.watch img {
	width: 20px;
	height: 10px;
	margin: 2px;
	border-radius: 2px;
	position: absolute;
	left: 10px;
	top: 10px;
}
.watch p {
	color: white;
	position: absolute;
	left: 40px;
	top: 10px;
	font-size: 12px;
}
.book{
	padding : 10px 10px;
	border-radius: 5px;
	display: block;
	margin: 15px 0px;
	background: #bc7b29;
	border:#bc7b29;
	color: white;
	font-size: 12px;
	font-weight: bold;
	width: 160px;
	height: 35px;
	position: relative;
}
.book img {
	width: 25px;
	height: 20px;
	margin: 2px;
	border-radius: 2px;
	position: absolute;
	left: 5px;
	top: 5px;
}
.book p {
	color: white;
	position: absolute;
	left: 40px;
	top: 10px;
	font-size: 12px;
}
.movie-premier {
	background: #e0b637;
}
.movie .col-2 img {
	height: 210px;
	width: 180px;
	margin-top: 25px;
	margin-bottom: 25px;
}
.movie .col-2 img:hover{
	border: 2px solid #06f5fb;
}
.adverse-box {
	font-family: sans-serif;
	margin-top: 50px;
	margin-bottom: 20px;
	position: relative;
}
.adverse-box h3:first-child{
	color: #D1D1D1;
	margin-bottom: 15px;
}
.adverse-box h1:nth-child(2){
	margin-bottom: 15px;
}
.adverse-box h3:nth-child(3){
	color: #D3D2D1;
	margin-bottom: 15px;
	font-weight: normal;
}
.btn-adv {
	height: 60px;

}
.btn-adv:hover{
	margin: 10px;
	border: 3px solid #ecc12d;
}
.btn-adv img{
		top: 17px;
		left: 13px;
}
.btn-adv p{
	top: 25px;
	font-weight: normal;
}
.adverse-box h4:last-child{
	color:#bc7b29 ;
	background: #F5F8FA;
	display: inline;
}
.adverse-box h4 span {
	font-size: 20px;
	background: #F5F8FA;
}
.adverse-box h5 {

}
.parrafo p{
	font-size: 0.6em;
	color: #D1D1D1;
	font-family: arial;
}
.adverse-box hr {
	margin: 30px 0px;
	height: 2px;
	background: #D4D2D1;
	border: none;
}
.photo .col-3 img{
	width: 200px;
	height: 200px;
	margin-bottom:20px;
	margin-top: 20px; 
}
footer {
	background: #F3F3F3;
}
.piepagina {
	margin-top: 20px;
	font-family: sans-serif;
}
.piepagina h5{
	color: #D1D1D1;
}
.piepagina p{
	font-size: 9px;
	color: #D1D1D1;
}
.piepagina p:nth-child(4){
	margin: 40px 0px;
}
.piepagina p:last-child{
	margin-bottom: 20px;
}

