.logo img{
width: 350px;
height: 50px;
}
/*rgba(0,0,0,0.3)  opaciti*/
header{
	width: 100%;
	background: #f5f5f5;
	position: fixed;
	height: 55px;
	z-index: 10;
}
.navegador   a {
	text-decoration: none;
	font-size: 11px;
	font-family: arial;
	position: absolute;
	top: 20px;
}
.navegador a:hover{
	color: white;
}
.search span {
	position: absolute;
	top: 7px;
}
input {
	width: 200px; 
	height: 40px;
	background:#f5f5f5;
	border:2px solid #a8a8a8;
	position: relative;
	padding-left: 10px;
	font-weight: bold;
	color: #d0d1d1;
	}
.lupa {
	width: 35px;
	height: 30px;
	background: none;
	border: none;
	position: absolute;
	right: 2px;
	top:3px;
}
.fa-search{
	color: #a8a8a8;
}
.hero {
	height: 460px;
 	background: #383838 url('../img/banner.jpg') no-repeat left top;
  	background-size: 75% 100%;
	padding-top: 60px;
}
.heroimage .col-8 img {
	position: absolute;
	left: 250px;
	top: 200px;
	height: 73px;
	width: 73px; 
}
.texthero{
	margin-top: 30px;
	padding-left: 20px;
	position: relative;
	color:#d3d3d3;
	font-family: sans-serif;
}
.texthero p:first-child{

	margin-left: 5px;

}
.texthero hr {
	font-size: 20px;
	width: 300px;
	height: 1px;
	border:none;
	background: #676767;
	margin: 15px 5px;
}
.texthero  button:nth-child(3) {
	position: absolute;
	top: 70px;
	left: 20px;
	border-radius: 5px;
	width: 50px;
	height: 30px;
	background: none;
	border:2px solid #3bcf68;
	color: #3bcf68;
	font-size: 11px;
}
.texthero  button:hover {
	border: 3px solid white;
}

.texthero p:nth-child(4){
	position: relative;
	left: 60px;
	margin: 25px 0px 10px;
	font-size: 13px;
}
 .box {
 	margin: 5px 0px;
 	border-collapse: separate;
  	border-spacing:  0px 10px;
}
.box tr td {
	margin: 15px 0px; 
	font-size: 10px;
}
 .box tr td:first-child{
	width: 120px;
	font-weight: bold;
	font-size: 11px;
}
.texthero p:nth-child(6){
	font-size: 12px;

	margin-top: 0px;
}
.watch{
	padding : 10px 10px;
	border-radius: 5px;
	display: block;
	margin: 15px 0px;
	background: #dfb636;
	border:#dfb636;
	color: white;
	font-size: 12px;
	font-weight: bold;
	width: 160px;
	height: 35px;
	position: relative;
}
.watch .fa-youtube-play {
	margin: 2px;
	position: absolute;
	left: 10px;
	top: 10px;
}
.watch p {
	color: white;
	position: absolute;
	left: 30px;
	top: 10px;
	font-size: 12px;
}
.book{
	padding : 10px 10px;
	border-radius: 5px;
	display: block;
	margin: 15px 0px;
	background: #bc7b29;
	border:#bc7b29;
	color: white;
	font-size: 12px;
	font-weight: bold;
	width: 160px;
	height: 35px;
	position: relative;
}
.ticket i{
	position: absolute;
	left: 15px;
	top: 10px;
}
.book p {
	color: white;
	position: absolute;
	left: 30px;
	top: 10px;
	font-size: 12px;
}
.normal{
	font-weight: normal;
}
.movie-premier {
	background: #e0b637;
}
.movie .col-2 img {
	height: 200px;
	width: 100%;
	margin-top: 25px;
	margin-bottom: 25px;
}
.movie .col-2 img:hover{
	border: 2px solid #06f5fb;
}
.adverse-box {
	font-family: sans-serif;
	margin-top: 50px;
	margin-bottom: 20px;
	position: relative;
}
.adverse-box h3:first-child{
	margin-bottom: 15px;
}
.adverse-box h1:nth-child(2){
	margin-bottom: 15px;
}
.adverse-box h3:nth-child(3){
	margin-bottom: 15px;
	font-weight: normal;
}
.btn-adv {
	height: 60px;
}
.btn-adv:hover{
	border: 3px solid white;
}
.btn-adv i{
	position: absolute;
	top: 25px; 
	left:15px;
}
.btn-adv p{
	top: 25px;
	font-weight: normal;
}
.adverse-box h4:last-child{
	color:#bc7b29 ;
	background: #F5F8FA;
	display: inline;
}
.adverse-box h4 span {
	font-size: 20px;
	background: #F5F8FA;
}
.parrafo p{
	font-size: 0.6em;
	font-family: arial;
}
.adverse-box hr {
	margin: 30px 0px;
	height: 2px;
	background: #D4D2D1;
	border: none;
}
.photo .col-3 img{
	width: 200px;
	height: 200px;
	margin-bottom:20px;
	margin-top: 20px; 
}
footer {
	background: #F3F3F3;
}
.piepagina {
	margin-top: 20px;
	font-family: sans-serif;
}
.piepagina p{
	font-size: 9px;
}
.piepagina p:nth-child(4){
	margin: 40px 0px;
}
.piepagina p:last-child{
	margin-bottom: 20px;
}

