.logo img{
width: 250px;
height: 50px;
}
/*rgba(0,0,0,0.3)  opaciti*/

.navegador   a {
	text-decoration: none;
	color: gray;
	font-size: 10px;
	font-family: arial;
	position: absolute;
	top: 20px;
}

.search span {
	position: absolute;
	top: 10px;
}
input {
	width: 200px; 
	height: 32px;
	background: #ededed;
	border:1px solid gray;
	position: relative;
	padding-left: 10px;
	}
input button {
	width: 45px;
	height: 30px;
	background:#ededed url('http://findicons.com/files/icons/1389/g5_system/32/toolbar_find.png') no-repeat 9px center;
	border: none;
	position: absolute;
	right: 10px;
	top:1px;
}


.hero {
	height: 600px;
 	background: #383838 url('../img/banner.jpg') no-repeat left top;
  	background-size: 60% 60%;
  	background-position: absolute;
  	top:60%;
  	left: 60%;

}
.texthero{
	margin-top: 20px;
	position: relative;
}
.texthero button:first-child{
	position: absolute;
	top: 30px;
	left: 0px;
	border-radius: 5px;
	width: 50px;
	height: 30px;
	background: none;
	border:2px solid green;
	color: green;
	font-size: 11px;
}
.texthero h1:first-child{
	color:#d3d3d3;
	text-align: right;
	font-family:sans-serif;
	font-size: 30px;
}
.texthero br {
	font-size: 20px;
	width: 100px;
	height: 10px;
	color: #676767;
}


