.logo img{
width: 250px;
height: 50px;
}
/*rgba(0,0,0,0.3)  opaciti*/

.navegador   a {
	text-decoration: none;
	color: gray;
	font-size: 10px;
	font-family: arial;
	position: absolute;
	top: 20px;
}

.search span {
	position: absolute;
	top: 10px;
}
input {
	width: 200px; 
	height: 32px;
	background: #ededed;
	border:1px solid gray;
	position: relative;
	padding-left: 10px;
	}
.lupa {
	width: 45px;
	height: 30px;
	background:#ededed url('../img/toolbar_find.png') no-repeat 9px center;
	border: none;
	position: absolute;
	right: 10px;
	top:1px;
}
.hero {
	height: 390px;
 	background: #383838 url('../img/banner.jpg') no-repeat left top;
  	background-size: 70% 100%;
  	background-position: absolute;
  	top:60%;
  	left: 60%;
}
.texthero{
	margin-top: 20px;
	position: relative;
	color:#d3d3d3;
	font-family: sans-serif;
}
.texthero h1:first-child{
	font-size: 30px;
	margin-left: 5px;
}
.texthero hr {
	font-size: 20px;
	width: 300px;
	height: 1px;
	border:none;
	background: #676767;
	margin: 15px 5px;
}
.texthero  button:nth-child(3){
	position: absolute;
	top: 70px;
	left: 0px;
	border-radius: 5px;
	width: 50px;
	height: 30px;
	background: none;
	border:2px solid green;
	color: green;
	font-size: 11px;
}
.texthero p:nth-child(4){
	position: relative;
	left: 60px;
	margin: 25px 0px 10px;
}
 .caja1 {
 	margin: 5px 0px;
 	border-collapse: separate;
  	border-spacing:  0px 10px;
}
.caja1 tr td {
	margin: 15px 0px; 
	font-size: 10px;
}
 .caja1 tr td:first-child{
	width: 120px;
	font-weight: bold;
	font-size: 11px;
}

.texthero p:nth-child(6){
	font-size: 13px;
	font-family: sans-serif;
	margin-top: 0px;
}
.texthero button:nth-child(7){
	padding : 10px 10px;
	border-radius: 5px;
	display: block;
	margin: 15px 0px;
	background: #dfb636;
	border:#dfb636;
	color: white;
	font-size: 12px;
	font-weight: bold;
	width: 160px;
	height: 35px;
	position: relative;
}

.watch img {
	width: 20px;
	height: 10px;
	margin: 2px;
	border-radius: 2px;
	position: absolute;
	left: 10px;
	top: 10px;
}
.watch p {
	color: white;
	position: absolute;
	left: 40px;
	top: 10px;
	font-size: 12px;
}
.book{
	padding : 10px 10px;
	border-radius: 5px;
	display: block;
	margin: 15px 0px;
	background: #bc7b29;
	border:#bc7b29;
	color: white;
	font-size: 12px;
	font-weight: bold;
	width: 160px;
	height: 35px;
	position: relative;
}

.book img {
	width: 20px;
	height: 10px;
	margin: 2px;
	border-radius: 2px;
	position: absolute;
	left: 10px;
	top: 10px;
}
.book p {
	color: white;
	position: absolute;
	left: 40px;
	top: 10px;
	font-size: 12px;
}
.fila1 {
	background: #dfb636;

}
.photo .col-2 {
	background: #dfb636;
}
.photo .col-2 img {
	height: 180px;
	width: 150px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.fila2box {
	font-family: sans-serif;
	margin-top: 50px;
	margin-bottom: 20px;
	position: relative;
}
.fila2box h3:first-child{
	color: #D1D1D1;
	margin-bottom: 15px;
}
.fila2box h1:nth-child(2){
	margin-bottom: 15px;
}
.fila2box h3:nth-child(3){
	color: #D3D2D1;
	margin-bottom: 15px;
	font-weight: normal;
}
.btnfila2 {
	height: 50px;

}
.btnfila2 img{
		top: 20px;
}
.btnfila2 p{
	top: 20px;
	font-weight: normal;
}
.fila2box h4:last-child{
	color:#bc7b29 ;
	background: #F5F8FA;
	display: inline;
}
.fila2box h4 span {
	font-size: 20px;
	background: #F5F8FA;

}
.fila2box h5 {

}
.parrafo p{
	font-size: 0.6em;
	color: #D1D1D1;
	font-family: arial;
}

.fila2box hr {
	margin: 30px 0px;
	height: 2px;
	background: #D4D2D1;
	border: none;

}
.fila4 .col-3 img{
	width: 200px;
	height: 200px;
	margin-bottom:20px;
	margin-top: 20px; 
}
footer {
	background: #F3F3F3;

}
.piepagina {
	margin-top: 20px;
	font-family: sans-serif;
}
.piepagina h5{
	color: #D1D1D1;
}
.piepagina p{
	font-size: 9px;
	color: #D1D1D1;
}
.piepagina p:nth-child(4){
	margin: 40px 0px;
}
.piepagina p {

}

